<!DOCTYPE html>
<html>
    <head>
        <%= include ../partials/head %>
        <script>
            function createCookie(name,value,days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else var expires = "";
                document.cookie = name+"="+value+expires+"; path=/";
            }

            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name,"",-1);
            }
            
            createCookie('username', '<%= user.username %>', 1)
            createCookie('userId', '<%= user.user_id %>', 1)
        </script>
    </head>
    <body>
        <header><img src='images/header.png' /></header>
        <div class='display'>
            
            
            <main>
                
                
                <div class='contentContainer'>
                    <div class='contentBoxOpen'>&nbsp;</div>
                    <div class='contentBox'>&nbsp;</div>
                </div>
                
                
                
                <div class='channels'>
                    
                    <div class='userLink'>
                        <img src='images/users/avatars/<%= user.user_id %>.jpg' /> 
                        <p class='userLinkUsername'><%= user.username %></p>
                        <p class='userLinkEditProfile'>Edit Profile</p>
                    </div>

                    <div class='navigationTitle'>Channels</div>

                    <div class='navigationLeftUserChannels'>
                        <li id ='0' class='navigationChannel'><img src='images/icons/play.png' /><p>Browse Channels</p></li>
                    </div>
                    
                    
                    <br/>
                    <div class='navigationTitle'>Chat Rooms</div>
                    <li id='1' class='navigationRoom'>
                        <img src='images/icons/upload.png' />
                        <p>Alexandria</p>
                        <div id='1' class='navigationMessageCounter'>0</div>
                    </li>
                    <li id='2' class='navigationRoom'>
                        <img src='http://coinmarketcap.com/static/img/coins/16x16/bitcoin.png' />
                        <p>Bitcoin</p>
                        <p id='2' class='navigationMessageCounter'>0</p>
                    </li>
                    
                    <br/>
                    <div class='navigationTitle'>Online Users</div>

                    <div class='left_space'></div>

                </div>
                <div class='topNavigation'>
                    <div id='profileSettings' class='topNavigationEntry'>Profile Settings</div>
                    <div id='browseChannels' class='topNavigationEntry'>Browse Channels</div>
                    <div id='browseRooms' class='topNavigationEntry'>Browse Rooms</div>
                    <div class='topNavigationEntry'>Logout</div>
                </div>

            </main> 
        
            <div class='connections'>
                <video class='player' id='player' width='320' height='180' src='' preload='auto' controls></video>
                <br/>
                <div class='navigationTitle'>Playlists</div> 
                <div class='navigationRightPlaylistContainer'></div> 
            </div>
        </div>
        
        <div class='chatBoxContainer'>
            <div class='chatBox' id='lobby'>
                <div class='chat_box_header'>
                    <p class='chat_box_header_text'>
                        Alexandria
                        <img class='closeChatBoxIcon' src='images/icons/close.png' />
                        <img class='maximizeChatBoxIcon' src='images/icons/maximize.png' />
                        <img class='chatSettingsIcon' src='images/icons/settings.png' />
                    </p>
                </div>        
                <div id='chatBoxAlexandria' class='chat_box_text'></div>        
                <textarea type="text" class='chat_box_input'/></textarea>
            </div>
            <div class='chatBox' style='left:232px;'>
                <div class='chat_box_header' style='height:22px;'>
                    <p class='chat_box_header_text'>
                        Bitcoin
                        <img class='closeChatBoxIcon' src='images/icons/close.png' />
                        <img class='maximizeChatBoxIcon' src='images/icons/maximize.png' />
                        <img class='chatSettingsIcon' src='images/icons/settings.png' />
                    </p>
                </div> 
                <div class='chat_box_text'></div>        
                <textarea type="text" class='chat_box_input'/></textarea>
            </div>
        </div>


        
    </body>
</html>